/* -------- banner-menu.scss -------- */

@use "base" as *;

.banner-menu {
  float: left;
  margin-left: 12px;
  width: 95%;
  font-size: 16px;

  @media screen and (min-width: $phone-width-landscape) {
    white-space: nowrap;
    width: auto;
  }
  @media screen and (min-width: $desktop-width) {
    float: right;
    margin-right: 16px;
  }
}

// all menu a elements

.banner-menu ul.menu li.menu-item a,
.banner-menu ul.menu li-menu-item a:visited {
  color: #fff;
}

.banner-menu ul.menu li.menu-item a:focus,
.banner-menu ul.menu li.menu-item a:hover {
  background-color: $industrial-blue;
  @include background-transition;
}

.banner-menu ul.menu li.menu-item a:focus {
  @include outline-inset($illini-orange);
}

// menu bar

.banner-menu ul.menu > li.menu-item {
  position: relative;
  display: block;

  @media screen and (min-width: $phone-width-landscape) {
    display: inline-block;
  }
}

.banner-menu ul.menu > li.menu-item > a {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 12px;
  text-decoration: none;
  @include outline-inset(transparent, 1);

  @media screen and (min-width: $phone-width-landscape) {
    width: auto;
  }
  @media screen and (min-width: $desktop-width) {
    padding: 22px 12px;
  }
}

.banner-menu ul.menu > li.menu-item > a:hover {
  padding: 12px 10px;
  border: 2px solid white;

  @media screen and (min-width: $phone-width-landscape) {
    border-bottom: none;
  }
  @media screen and (min-width: $desktop-width) {
    padding: 22px 10px;
    border-top: none;
    border-bottom: none;
  }
}

.banner-menu ul.menu > li.menu-item.menu-item-has-children > a::after {
  content: url("images/chevron-down.svg");
  position: relative;
  top: -2px;
  left: 6px;
  margin-right: 7px;
}

.banner-menu ul.menu > li.menu-item > a::after {
  content: url("images/chevron-right.svg");
  position: relative;
  top: 0.5px;
  left: 6px;
  margin-right: 7px;
}

// sub-menu

.banner-menu ul.sub-menu {
  list-style: none;
  z-index: 1;
}

.banner-menu ul.sub-menu ul.sub-menu li {
  padding-left: 1em;
}

.banner-menu ul.sub-menu,
.banner-menu ul.sub-menu a {
  display: block;
  background: $illini-blue;
  padding: 8px 12px;
}

.banner-menu ul.menu > li.menu-item-has-children > ul.sub-menu  {
  display: none;
  @include outline-inset(transparent, 1);
  position: absolute;
  top: 48px;

  @media screen and (min-width: $desktop-width) {
    top: 64px;
  }
}
