/* -------- events.scss -------- */

ul.events {
  list-style: none;
  font-family: Montserrat;
  font-size: 0.925rem;
  margin: 0;
  padding: 0;
}

ul.events > li:not(:first-child) {
  margin-top: 1.125rem;
}

ul.events > li {
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

ul.events > li > div {
  background-color: #eee;
  padding: 0.25rem 0.5rem;
}

ul.events > li > div:first-child {
  grid-column: 1 / 4;
}

// upcoming

ul.events.upcoming > li {
  grid-template-columns: 40% 20% 1fr;
}

// presentation

ul.events.presentation > li {
  grid-template-columns: 60% 20% 1fr;
}
