/* -------- HEADER -------- */

@use "base" as *;

header {
  position: sticky;
  top: 0;
}

// SKIP-TO

header .skip-to.aitg {
  /*position: absolute;*/
  /*top: 0px;*/

  left: 60%;
  -webkit-transition: left $std-trans-time linear;
  transition: left $std-trans-time linear;

  @media screen and (min-width: $tablet-width) {
    left: 40%;
  }
}

header .skip-to.aitg button {
  color: $dark-gray;
  background-color: $light-gray;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;

  padding: 6px 8px 8px;

  border-top: none !important;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

header .skip-to.aitg button:focus,
header .skip-to.aitg button:hover {
  color: $default-text-color;
  background-color: $industrial-blue-3;
  outline: none;
}

header .skip-to.aitg button:focus {
  padding: 6px 7px 7px;
  border-top: none !important;
  border-right: 3px solid $illini-orange;
  border-bottom: 3px solid $illini-orange;
  border-left: 3px solid $illini-orange;
}

header .skip-to.aitg [role=menuitem] {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

// BANNER: TWO-ROW GRID LAYOUT

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

// BANNER ROW 1

.banner-row-1 {
  color: $default-text-color;
  background-color: white;
  width: 100%;
}

.banner-logo {
  float: left;
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: 40%;
  }
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
  display: block;
  width: 200px;
  padding: 14px 24px 8px;
}

.banner-logo a:focus,
.banner-logo a:hover {
  background-color: $industrial-blue-3;
  @include background-transition;
}

.banner-logo a:focus {
  @include outline-inset($illini-orange);
}

// SEARCH WIDGET

.banner-search {
  float: left;
  padding: 0 20px 12px;

  @media screen and (min-width: $tablet-width) {
    float: right;
    padding: 14px 24px 8px;
  }
}

.search-widget form {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  width: 18em;
}

.search-widget input {
  grid-column: 1;
  color: $dark-gray;
  background-color: $light-gray;
  border: none;
  @include outline-inset(transparent, 2);
  font-family: inherit;
  font-size: 16px;
  padding-left: 10px;
}

.search-widget input:focus {
  background-color: white;
  @include background-transition;
  border: 2px solid $illini-blue;
  border-right: none;
  padding-left: 8px;
}

.search-widget button {
  grid-column: 2;
  position: relative;
  color: white;
  background-color: $illini-blue;
  border: none;
  @include outline-inset(transparent, 2);
  width: 37px;
  height: 36px;
}

.search-widget button:focus {
  background-color: $industrial-blue;
  @include background-transition;
  outline: 3px solid $illini-orange;
}

// BANNER ROW 2

.banner-row-2 {
  color: white;
  background-color: $illini-blue;
  width: 100%;
}

.banner-name {
  float: left;
  width: 100%;
  font-size: 1.5rem;
  white-space: nowrap;

  @media screen and (min-width: $desktop-width) {
    width: auto;
  }
}

.banner-name a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;

  @media screen and (min-width: $desktop-width) {
    padding: 17px 24px;
  }
}

.banner-name a:focus,
.banner-name a:hover {
  color: $cobalt;
  background-color: white;
  @include background-transition;
  text-decoration: underline;
}

.banner-name a:focus {
  @include outline-inset($illini-orange);
}
