@use "base" as *;

/* -------- HEADER -------- */

header .skip-to a {
  position: absolute;
  top: 0px;
  left: 60%;
  -webkit-transition: left $std-trans-time linear;
  transition: left $std-trans-time linear;

  color: $dark-gray;
  background-color: $light-gray;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;

  box-sizing: border-box;
  padding: 6px 8px 8px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

header .skip-to a:focus,
header .skip-to a:hover {
  color: $default-text-color;
  background-color: $industrial-blue-3;
  outline: none;
}

header .skip-to a:focus {
  border-right: 2px solid $illini-orange;
  border-left: 2px solid $illini-orange;
  border-bottom: 2px solid $illini-orange;
}

@media screen and (min-width: $tablet-width) {
  header .skip-to a {
    left: 40%;
  }
}

// BANNER: TWO-ROW GRID LAYOUT

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

// BANNER ROW 1

.banner-row-1 {
  color: $default-text-color;
  background-color: #fff;
  width: 100%;
}

.banner-logo {
  float: left;
  width: 100%;
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
  display: block;
  width: 200px;
  padding: 14px 24px 8px;
}

.banner-logo a:focus,
.banner-logo a:hover {
  background-color: $industrial-blue-3;
  @include background-transition;
}

.banner-logo a:focus {
  @include outline-inset($illini-orange);
}

// SEARCH WIDGET

.banner-search {
  float: left;
  padding: 0 20px 12px;
}

@media screen and (min-width: $tablet-width) {
  .banner-logo {
    width: 40%;
  }
  .banner-search {
    float: right;
    padding: 14px 24px 8px;
  }
}

.search-widget {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  width: 18em;
}

.search-widget input {
  grid-column: 1;
  color: $dark-gray;
  background-color: $light-gray;
  border: none;
  font-family: inherit;
  font-size: 16px;
  padding-left: 10px;
}

.search-widget input:focus {
  background-color: #fff;
  @include background-transition;
  outline: none;
  box-sizing: border-box;
  border-top: 2px solid $illini-blue;
  border-bottom: 2px solid $illini-blue;
  border-left: 2px solid $illini-blue;
  padding-left: 8px;
}

.search-widget button {
  grid-column: 2;
  color: #ffffff;
  background: $illini-blue url("images/search-icon.svg") no-repeat;
  background-position: left 10px top 50%;
  background-size: 20.5px 20.5px;
  @include background-transition;
  border: none;
  width: 38px;
  height: 36px;
}

.search-widget button:focus {
  background: $industrial-blue-3 url("images/search-icon-inv.svg") no-repeat;
  background-position: left 10px top 50%;
  background-size: 20.5px 20.5px;
  @include outline-inset($illini-orange);
}

// BANNER ROW 2

.banner-row-2 {
  color: #fff;
  background-color: $illini-blue;
  width: 100%;
}

.banner-aitg {
  float: left;
  width: 100%;
  font-size: 24px;
  white-space: nowrap;
}

.banner-aitg a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 24px;
}

.banner-aitg a:focus,
.banner-aitg a:hover {
  color: $cobalt;
  background-color: #fff;
  @include background-transition;
  text-decoration: underline;
}

.banner-aitg a:focus {
  @include outline-inset($illini-orange);
}

@media screen and (min-width: $desktop-width) {
  .banner-aitg {
    width: auto;
  }
  .banner-aitg a {
    padding: 17px 24px;
  }
}

// BANNER MENU

.banner-menu {
  float: left;
  font-size: 16px;
  white-space: nowrap;
  padding-left: 12px;
}

.banner-menu ul {
  margin: 0;
  padding: 0;
}

.banner-menu li {
  display: inline;
}

.chevron-down::after {
  content: url("images/chevron-down.svg");
  position: relative;
  top: -2px;
  left: 6px;
  margin-right: 7px;
}

.chevron-right::after {
  content: url("images/chevron-right.svg");
  position: relative;
  top: 0.5px;
  left: 6px;
  margin-right: 7px;
}

a.menu-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 14px 12px;
}

a.menu-button:focus,
a.menu-button:hover {
  background-color: $industrial-blue;
  @include background-transition;
}

a.menu-button:focus {
  @include outline-inset($illini-orange);
}

a.menu-button:hover {
  padding: 12px 10px 14px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

@media screen and (min-width: $desktop-width) {
  .banner-menu {
    float: right;
    padding-right: 18px;
  }
  a.menu-button {
    padding: 22px 12px;
  }
  a.menu-button:hover {
    outline: none;
    padding: 22px 10px;
    border-top: none;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}
