/* -------- main.scss -------- */

@use "base" as *;
@forward "header";
@forward "skip-to";
@forward "banner-menu";
@forward "sidebar";
@forward "events";
@forward "blog";

// main: flex layout

main {
  color: $default-text-color;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.125rem;
  line-height: 1.4;
  box-shadow: -1px 0 #eee;
  padding: 1.25rem;
}

main a {
  color: $cobalt;
}

main a:focus,
main a:hover {
  color: $default-text-color;
  background-color: $industrial-blue-3;
  @include background-transition;
}

main a:focus {
  outline: 2px solid $illini-orange;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

main h1 {
  font-size: 200%;
  margin: 1rem 0;
}

main h1:first-child {
  margin-top: 0;
}

main h2 {
  font-size: 150%;
  margin: 1rem 0;
}

main h3 {
  font-size: 125%;
  margin: 0.75rem 0 0.75rem;
}

main h4 {
  font-size: 110%;
  margin: 0.75rem 0 0.75rem;
}

main h2, main h3, main h4, main h5, main h6 {
  clear: both;
}

main p {
  margin: 1rem 0 0;
}

main h1 + p,
main h2 + p,
main h3 + p,
main h4 + p {
  margin-top: 0;
}

main ol, main ul {
  margin: 0.5rem 0 0.5rem 2.4rem;
}

main dl.events dt {
  margin-top: 1rem;
}

main dl.events dt + dd:before {
  content: "Event: ";
  font-style: italic;
}

main dl.events dd + dd:before {
  content: "Date: ";
  font-style: italic;
}

main img.alignnone {
  clear: both;
  margin: 0.5rem 1rem;
}

main img.alignleft {
  float: left;
  margin: 0.5rem 1rem 0.5rem 0;
}

main img.alignright {
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
}

main img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

div.left-column {
  display: flex;
  flex-direction: column;
  width: 4%;
  flex: 0 0 auto;
}

main.content {
  display: flex;
  flex-direction: column;
  width: 92%;
  flex: 0 0 auto;
}

div.right-column {
  display: flex;
  flex-direction: column;
  width: 4%;
  flex: 0 0 auto;
}

@media screen and (min-width: $tablet-width) {
  div.left-column  { width:  0%; flex: 0 0 auto; }
  main.content     { width: 72%; flex: 0 1 auto; }
  div.right-column { width: 28%; flex: 1 0 auto; }
}

@media screen and (min-width: $desktop-width) {
  div.left-column  { width: 20%; flex: 0 0 auto; }
  main.content     { width: 60%; flex: 0 1 auto; }
  div.right-column { width: 20%; flex: 1 0 auto; }
}

// footer: flex layout

footer {
  color: #fff;
  background-color: $illini-blue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 4px 0px 12px;
}

footer div {
  display: flex;
  flex: 1 1 auto;
  padding: 12px 24px;
}

footer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer div ul li {
  padding-top: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
  white-space: normal;
  padding: 4px;

  @media screen and (min-width: $phone-width-portrait) {
    white-space: nowrap;
  }
}

footer a:focus,
footer a:hover {
  color: $default-text-color;
  background-color: $industrial-blue-3;
  @include background-transition;
  text-decoration: underline;
}

footer a:focus {
  outline: 2px solid $illini-orange;
}
