@font-face {
  font-family: SourceSerifPro;
  src: url("fonts/SourceSerifPro-Regular.ttf");
}
@font-face {
  font-family: SourceSerifPro;
  font-style: italic;
  src: url("fonts/SourceSerifPro-Italic.ttf");
}
@font-face {
  font-family: SourceSerifPro;
  font-weight: bold;
  src: url("fonts/SourceSerifPro-Bold.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.screen-reader-text {
  position: absolute;
  top: -30em;
  left: -3000em;
}

header .skip-to a {
  position: absolute;
  top: 0px;
  left: 45%;
  color: white;
  background: #13294b;
  font-size: 14px;
  box-sizing: border-box;
  padding: 6px 8px 8px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

header .skip-to a:focus,
header .skip-to a:hover {
  color: #00132c;
  background-color: #cad9ef;
  border-right: 2px solid #ff552e;
  border-left: 2px solid #ff552e;
  border-bottom: 2px solid #ff552e;
  outline: none;
}

/* BANNER: TWO-ROW GRID LAYOUT */
.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
}

/* BANNER ROW 1 */
.banner-row-1 {
  color: #00132c;
  background-color: #fff;
  width: 100%;
}

.banner-logo {
  float: left;
  width: 100%;
}

.banner-logo img {
  width: 200px;
}

.banner-logo a {
  display: block;
  width: 200px;
  padding: 20px 24px 16px;
}

.banner-logo a:focus,
.banner-logo a:hover {
  background-color: #cad9ef;
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  outline-offset: -2px;
  outline: 2px solid #ff552e;
}

.banner-search {
  float: left;
  padding: 0 20px 16px;
}

@media screen and (min-width: 768px) {
  .banner-logo {
    width: 40%;
  }

  .banner-search {
    float: right;
    padding: 20px 24px 16px;
  }
}
.search-widget {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr;
  width: 18em;
}

.search-widget input {
  grid-column: 1;
  color: #555555;
  background-color: #dddede;
  border: none;
  font-family: inherit;
  font-size: 16px;
  padding-left: 10px;
}

.search-widget input:focus {
  background-color: #fff;
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  outline: none;
  box-sizing: border-box;
  border-top: 2px solid #13294b;
  border-bottom: 2px solid #13294b;
  border-left: 2px solid #13294b;
  padding-left: 8px;
}

.search-widget button {
  grid-column: 2;
  color: #ffffff;
  background: #13294b url("images/search-icon.svg") no-repeat;
  background-position: left 10px top 50%;
  background-size: 20.5px 20.5px;
  border: none;
  width: 38px;
  height: 36px;
}

.search-widget button:focus {
  background: #cad9ef url("images/search-icon-inv.svg") no-repeat;
  background-position: left 10px top 50%;
  background-size: 20.5px 20.5px;
  outline-offset: -2px;
  outline: 2px solid #ff552e;
}

/* BANNER ROW 2 */
.banner-row-2 {
  color: #fff;
  background-color: #13294b;
  width: 100%;
}

.banner-aitg {
  float: left;
  width: 100%;
  font-size: 24px;
  white-space: nowrap;
}

.banner-aitg a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
}

.banner-aitg a:focus,
.banner-aitg a:hover {
  outline-offset: -2px;
  outline: 2px solid #ff552e;
  text-decoration: underline;
}

@media screen and (min-width: 996px) {
  .banner-aitg {
    width: auto;
  }

  .banner-aitg a {
    padding: 17px 24px;
  }
}
/* BANNER MENU */
.banner-menu {
  float: left;
  font-size: 16px;
  white-space: nowrap;
  padding-left: 12px;
}

.banner-menu ul {
  margin: 0;
  padding: 0;
}

.banner-menu li {
  display: inline;
}

.chevron-down::after {
  content: url("images/chevron-down.svg");
  position: relative;
  top: -2px;
  left: 6px;
  margin-right: 4px;
}

.chevron-right::after {
  content: url("images/chevron-right.svg");
  position: relative;
  top: 0.5px;
  left: 6px;
  margin-right: 4px;
}

a.menu-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 14px 12px 14px;
}

a.menu-button:focus,
a.menu-button:hover {
  color: #00132c;
  background-color: #cad9ef;
  outline-offset: -2px;
  outline: 2px solid #ff552e;
}
a.menu-button:focus .chevron-down::after,
a.menu-button:hover .chevron-down::after {
  content: url("images/chevron-down-inv.svg");
}
a.menu-button:focus .chevron-right::after,
a.menu-button:hover .chevron-right::after {
  content: url("images/chevron-right-inv.svg");
}

@media screen and (min-width: 996px) {
  .banner-menu {
    float: right;
    padding-right: 18px;
  }

  a.menu-button {
    padding: 24px 12px 20px;
  }
}
/* MAIN: THREE-COLUMN FLEX LAYOUT */
main {
  color: #00132c;
  padding: 1em 1.5em;
  font-family: SourceSerifPro, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

main a {
  color: #1d4b90;
}

main a:focus,
main a:hover {
  color: #00132c;
  background-color: #cad9ef;
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  outline: 2px solid #ff552e;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  box-shadow: -1px 0 #eee;
  padding: 0 24px;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-family: Montserrat, sans-serif;
  padding: 0;
}

.content h1 {
  font-size: 225%;
  font-weight: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

/* FOOTER: THREE-COLUMN FLEX LAYOUT; */
footer {
  color: #fff;
  background-color: #13294b;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 12px;
}

footer div {
  display: flex;
  flex: 1 1 auto;
  padding: 12px 24px;
}

footer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer div ul li {
  padding-top: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
  white-space: normal;
}

footer a:focus,
footer a:hover {
  outline-offset: 1px;
  outline: 2px solid #ff552e;
  text-decoration: underline;
}

@media screen and (min-width: 414px) {
  footer a {
    white-space: nowrap;
  }
}
