@use "base" as *;
@forward "header";

/* -------- MAIN: FLEX LAYOUT -------- */

main {
  color: $default-text-color;
  padding: 1em 1.5em;
  font-family: SourceSerifPro, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

main a {
  color: $cobalt;
}

main a:focus,
main a:hover {
  color: $default-text-color;
  background-color: $industrial-blue-3;
  -webkit-transition: .3s background;
  transition: .3s background;
  outline: 2px solid $illini-orange;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  box-shadow: -1px 0 #eee;
  padding: 0 24px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0;
}

.content h1 {
  font-size: 225%;
}

.content h2 {
  font-size: 180%;
}

.content h3 {
  font-size: 155%;
}

.content h4 {
  font-size: 135%;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

/* -------- FOOTER: FLEX LAYOUT -------- */

footer {
  color: #fff;
  background-color: $illini-blue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 12px;
}

footer div {
  display: flex;
  flex: 1 1 auto;
  padding: 12px 24px;
}

footer div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer div ul li {
  padding-top: 8px;
}

footer a {
  color: #fff;
  text-decoration: none;
  white-space: normal;
}

footer a:focus,
footer a:hover {
  outline-offset: 1px;
  outline: 2px solid $illini-orange;
  text-decoration: underline;
}

@media screen and (min-width: 414px) {
  footer a {
    white-space: nowrap;
  }
}
